h1 CDeeenへようこそ！
p CDeeenは洋楽を聞きたいけど、洋学に詳しくない人が、洋学を楽しむためのサイトです！
= link_to "ログインへ",new_customer_session_path, data: {"turbolinks" => false}
= link_to "新規登録へ",new_customer_registration_path, data: {"turbolinks" => false}