// Place all the styles related to the admin/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-home{
    background-color: #eeffff;
}
.admin-home-btn {
    height: 120px;
    width: 300px;
    margin: 10 10px;
    line-height: 100px;
    color: dimgray;
}
.admin-home-btn-box{
    margin: 0 auto;
}

.to-users {
    background-color: lightpink;
}
.to-items {
    background-color: aquamarine;
}
.to-item-kinds {
    background-color: palegoldenrod;
}
.to-orders {
    background-color: palegreen;
}