// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item-kinds {
    text-align: center;
}

.edit-item {
    border: solid;
    margin-bottom: 20px;
}
.create-disc {
    border: solid;
}
.create-song {
    border: solid;
}