// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-btn-container{
	width: 80%;
	display: flex;
	justify-content: space-around;
    margin: 20px auto;
    & > .btn{
    	height: 40px;
    }
}